<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Traslado masivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <form [formGroup]="masivoForm" autocomplete="off">
    <ion-item>
      <ion-label class="masivo-label">Buscar Activo:</ion-label>
      <ion-button class="masivo-boton" (click)="abrirModal()">Agregar ({{activosSeleccionados.length}})</ion-button>
    </ion-item>
    <ion-list class="activos-list">
      <ion-item *ngFor="let activo of activosSeleccionados; let i = index">
        {{activo.assetname}}
        <ion-icon style="color: red;" name="remove-circle-outline" slot="end" (click)="eliminarActivo(i)"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label class="titulo-separador">Hasta</ion-label>
    </ion-item>

    <ion-item>
      <!-- <ion-select formControlName="finalLocationId" label="Ubicación" label-placement="floating" (ionChange)="onLocationChange($event)">
        <ion-select-option *ngFor="let location of locations" [value]="location.id">{{ location.name }}</ion-select-option>
      </ion-select> -->
      <ion-input label="Ubicación" readonly ></ion-input>
      <ion-icon style="color: #3880ff;" [name]="ubicacionSeleccionada ? 'swap-horizontal-outline' : 'add'" slot="end" (click)="elegirUbicacion()"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label position="stacked">Local</ion-label>
            <ion-input formControlName="companylocalfinal" type="text" readonly aria-label="Local"></ion-input>
          </ion-col>
          <ion-col>
            <ion-label position="stacked">Área</ion-label>
            <ion-input formControlName="areafinal" type="text" readonly aria-label="Área"></ion-input>
          </ion-col>
          <ion-col>
            <ion-label position="stacked">Ambiente</ion-label>
            <ion-input formControlName="finallocation" type="text" readonly aria-label="Ambiente"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label position="stacked">Piso</ion-label>
            <ion-input formControlName="floorfinal" type="text" readonly aria-label="Piso"></ion-input>
          </ion-col>
          <ion-col>
            <ion-label position="stacked">Detalle del ambiente</ion-label>
            <ion-input formControlName="enviromentdetailfinal" type="text" readonly aria-label="Detalle del ambiente"></ion-input>
          </ion-col>
          <ion-col>
            <!-- <ion-label position="stacked">Centro de Costo</ion-label>
            <ion-input formControlName="finalcostcenter" type="text" readonly aria-label="Centro de Costo"></ion-input> -->
            <ion-select formControlName="finalcostcenter" label="Centro de Costo" label-placement="floating">
              <ion-select-option *ngFor="let costCenter of costCenters" [value]="costCenter.name">{{ costCenter.name }}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-select formControlName="transferTypeId" label="Tipo de traslado" label-placement="floating" (ionChange)="onTransferChange($event)">
        <ion-select-option *ngFor="let tt of transferTypes" [value]="tt.id">{{ tt.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select formControlName="projectId"  label="Proyecto" label-placement="floating" (ionChange)="onProjectChange($event)">
        <ion-select-option *ngFor="let p of projects" [value]="p.id">{{ p.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-textarea formControlName="additionalInformation" label="Información adicional" labelPlacement="floating"></ion-textarea>
    </ion-item>
    <div class="button-container">
      <ion-button fill="outline" (click)="cancelar()">Cancelar</ion-button>
      <ion-button
       type="submit"
       (click)="guardar()"
       [disabled]="masivoForm.invalid"
       >Confirmar</ion-button>
    </div>
  </form>
</ion-content>