.titulo-separador {
  font-weight: bold;
  font-size: large;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Opcional: ajusta el margen superior según tus necesidades */
}