<ion-menu side="start" menuId="m1" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Opción 1</ion-item>
      <ion-item>Opción 2</ion-item>
      <ion-item>
        <ion-icon aria-hidden="true" name="exit-outline" slot="end"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>